Repository iteratec/kcwarden: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff-check, ruff-format

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: poetry run ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  language: system
  require_serial: true
  stages:
  - pre-push

Switch to uv (#127)
  .github/actions/setup-poetry-project/action.yaml
  .github/dependabot.yml
  .github/workflows/checks.yaml
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  Docker/dev.Dockerfile
  Docker/release.Dockerfile
  docs/development.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check

Switch to uv (#127) (#269)
  .github/actions/setup-poetry-project/action.yaml
  .github/dependabot.yml
  .github/workflows/checks.yaml
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  Docker/dev.Dockerfile
  Docker/release.Dockerfile
  docs/development.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check

Remove leftover permission fixing step from the old containerized workflow that does not work for the non-container step
  .github/workflows/publish.yaml
Due: none

Remove leftover permission fixing step from the old containerized workflow that does not work for the non-container step (#271)
  .github/workflows/publish.yaml
Due: none

Refactor SAML client unit tests to consistently use test fixtures
  tests/auditors/client/test_saml_client_erroneously_configured_wildcard_uri.py
  tests/auditors/client/test_saml_client_should_not_use_wildcard_redirect_uri.py
  tests/auditors/client/test_saml_client_with_assertion_signature_disabled.py
  tests/auditors/client/test_saml_client_with_client_signature_disabled.py
  tests/auditors/client/test_saml_client_with_encryption_disabled.py
  tests/auditors/client/test_saml_client_with_weak_signature_algorithm.py
  tests/auditors/client/test_saml_client_without_onetimeuse_condition.py
  tests/conftest.py
Due: ruff-check, ruff-format

Refactor SAML client unit tests to consistently use test fixtures (#270)
  tests/auditors/client/test_saml_client_erroneously_configured_wildcard_uri.py
  tests/auditors/client/test_saml_client_should_not_use_wildcard_redirect_uri.py
  tests/auditors/client/test_saml_client_with_assertion_signature_disabled.py
  tests/auditors/client/test_saml_client_with_client_signature_disabled.py
  tests/auditors/client/test_saml_client_with_encryption_disabled.py
  tests/auditors/client/test_saml_client_with_weak_signature_algorithm.py
  tests/auditors/client/test_saml_client_without_onetimeuse_condition.py
  tests/conftest.py
Due: ruff-check, ruff-format

Fix that container image attestations could not be uploaded
  .github/workflows/publish.yaml
Due: none

Fix that container image attestations could not be uploaded (#272)
  .github/workflows/publish.yaml
Due: none

Fix that container image attestations could not be uploaded (#273)
  .github/workflows/publish.yaml
Due: none

Fix ruff syntax in documentation
  docs/development.md
Due: none

Remove Python version badge from README
  README.md
Due: none

fix: add admin-permissions client to exclusion. Fixes #286
  kcwarden/api/auditor.py
  kcwarden/custom_types/keycloak_object.py
  tests/api/test_client_auditor_should_consider_client.py
  tests/auditors/client/test_client_access_token_lifespan_too_long.py
  tests/auditors/client/test_client_with_default_offline_access_scope.py
  tests/auditors/client/test_client_with_full_scope_allowed.py
  tests/auditors/client/test_client_with_optional_offline_access_scope.py
  tests/auditors/client/test_client_with_service_account_and_other_flow_enabled.py
  tests/auditors/client/test_using_nondefault_user_attributes_in_clients_without_user_profiles_feature_is_dangerous.py
  tests/conftest.py
  tests/custom_types/test_keycloak_object.py
Due: ruff-check, ruff-format

Also alert on service accounts with Full Scope Allowed
  kcwarden/auditors/client/client_with_full_scope_allowed.py
  tests/auditors/client/test_client_with_full_scope_allowed.py
Due: ruff-check, ruff-format

Add auditors for long SSO session idle timeouts not capped by a client session idle timeout
  docs/auditors/clients.md
  docs/auditors/realm.md
  kcwarden/auditors/client/client_session_idle_timeout_not_set_while_sso_session_idle_timeout_too_long.py
  kcwarden/auditors/realm/sso_session_idle_timeout_exceeds_client_session_idle_timeout.py
  kcwarden/auditors/subchecks/session_timeouts.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/client/test_client_session_idle_timeout_not_set_while_sso_session_idle_timeout_too_long.py
  tests/auditors/realm/test_sso_session_idle_timeout_exceeds_client_session_idle_timeout.py
Due: ruff-check, ruff-format

Path conditions:
  poetry-check: any of: ^pyproject\.toml|poetry\.lock/
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
