Repository iteratec/kcwarden: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        files: ^pyproject\.toml|poetry\.lock/
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: poetry run ruff check --fix
        language: system
        require_serial: true
        types: [ python ]
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format
        language: system
        require_serial: true
        types: [ python ]
        stages: [ pre-push ]

Display rich table for better readability (#120)
  kcwarden/subcommands/audit.py
  poetry.lock
  pyproject.toml
Due: poetry-check, ruff-check, ruff-format

Consider the default behavior of Keycloak that refresh tokens are enabled if the configuration attribute is not present
  kcwarden/auditors/client/client_with_default_offline_access_scope.py
  kcwarden/auditors/client/client_with_optional_offline_access_scope.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/client/test_client_with_default_offline_access_scope.py
  tests/auditors/client/test_client_with_optional_offline_access_scope.py
Due: ruff-check, ruff-format

Consider the default behavior of Keycloak that refresh tokens are enabled if the configuration attribute is not present
  kcwarden/auditors/client/client_with_default_offline_access_scope.py
  kcwarden/auditors/client/client_with_optional_offline_access_scope.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/client/test_client_with_default_offline_access_scope.py
  tests/auditors/client/test_client_with_optional_offline_access_scope.py
  tests/custom_types/__init__.py
  tests/custom_types/test_keycloak_object.py
Due: ruff-check, ruff-format

Adapt the redirect URI resolving to the Keycloak implementation
  kcwarden/custom_types/keycloak_object.py
Due: ruff-check, ruff-format

New auditor: ClientMustNotUseGlobalWildcardURI (#139)
  docs/auditors/clients.md
  kcwarden/auditors/client/client_has_erroneously_configured_wildcard_uri.py
  kcwarden/auditors/client/client_must_not_use_global_wildcard_uri.py
  kcwarden/auditors/client/client_should_not_use_wildcard_redirect_uri.py
  tests/auditors/client/test_client_has_erroneously_configured_wildcard_uri.py
  tests/auditors/client/test_client_must_not_use_global_wildcard_uri.py
Due: ruff-check, ruff-format

Add option to return non-zero exit code when findings are detected. Closes #124
  kcwarden/cli.py
  kcwarden/subcommands/audit.py
Due: ruff-check, ruff-format

Add new parameter to the docs
  docs/usage.md
Due: none

Optionally return Non-Zero exit code on findings (#148)
  docs/usage.md
  kcwarden/cli.py
  kcwarden/subcommands/audit.py
Due: ruff-check, ruff-format

Consider the new attributes that indicate whether users can edit their attributes
  docs/auditors/clients.md
  docs/auditors/scope.md
  kcwarden/auditors/client/using_nondefault_user_attributes_in_clients_without_user_profiles_feature_is_dangerous.py
  kcwarden/auditors/scope/using_nondefault_user_attributes_in_scopes_without_user_profiles_feature_is_dangerous.py
  kcwarden/auditors/subchecks/__init__.py
  kcwarden/auditors/subchecks/realm.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/client/test_using_nondefault_user_attributes_in_clients_without_user_profiles_feature_is_dangerous.py
  tests/auditors/scope/test_using_nondefault_user_attributes_in_scopes_without_user_profiles_feature_is_dangerous.py
  tests/auditors/subchecks/__init__.py
  tests/auditors/subchecks/test_realm.py
Due: ruff-check, ruff-format

New auditors: AccessTokenLifespanTooLong and ClientAccessTokenLifespanTooLong (#21)
  docs/auditors/clients.md
  docs/auditors/realm.md
  kcwarden/auditors/client/client_access_token_lifespan_too_long.py
  kcwarden/auditors/realm/access_token_lifespan_too_long.py
  kcwarden/auditors/subchecks/access_tokens.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/client/test_client_access_token_lifespan_too_long.py
  tests/auditors/realm/test_access_token_lifespan_too_long.py
Due: ruff-check, ruff-format

Add advanced usage documentation on plugins and continuous exectution
  docs/advanced_usage.md
  docs/usage.md
  mkdocs.yml
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/publish.yaml
Due: none

Pull information about user profiles config from correct config
  kcwarden/custom_types/keycloak_object.py
Due: ruff-check, ruff-format

Allow storing the txt format table into the specified output file
  kcwarden/subcommands/audit.py
Due: ruff-check, ruff-format

Allow storing the txt format table into the specified output file (#174)
  kcwarden/subcommands/audit.py
Due: ruff-check, ruff-format

Run the integration tests in the pipeline
  .github/workflows/checks.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Update transitive dependencies
  poetry.lock
Due: none

Add auditor for missing password policies
  kcwarden/auditors/realm/password_policy_missing.py
  tests/auditors/realm/test_password_policy_missing.py
Due: ruff-check, ruff-format

Introduce realm.get_password_policy
  kcwarden/auditors/realm/password_hashing_iterations_too_low.py
  kcwarden/auditors/realm/password_policy_missing.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/realm/test_password_hashing_iterations_too_low.py
  tests/auditors/realm/test_password_policy_missing.py
Due: ruff-check, ruff-format

Add test cases for audit function of PasswordPolicyMissing auditor
  tests/auditors/realm/test_password_policy_missing.py
Due: ruff-check, ruff-format

Add PasswordPolicyMissing to documentation
  docs/auditors/realm.md
Due: none

Run ruff formatting
  kcwarden/custom_types/keycloak_object.py
Due: ruff-check, ruff-format

New Auditor: PasswordPolicyMissing (#186)
  docs/auditors/realm.md
  kcwarden/auditors/realm/password_hashing_iterations_too_low.py
  kcwarden/auditors/realm/password_policy_missing.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/realm/test_password_hashing_iterations_too_low.py
  tests/auditors/realm/test_password_policy_missing.py
Due: ruff-check, ruff-format

Avoid directly accessing the _d object
  kcwarden/auditors/realm/password_hashing_iterations_too_low.py
  kcwarden/custom_types/keycloak_object.py
Due: ruff-check, ruff-format

Ruff format
  kcwarden/auditors/realm/password_hashing_iterations_too_low.py
  kcwarden/custom_types/keycloak_object.py
Due: ruff-check, ruff-format

Fix unit tests
  tests/auditors/realm/test_password_hashing_iterations_too_low.py
Due: ruff-check, ruff-format

Pull logic out of auditor and into realm object
  kcwarden/auditors/realm/password_hashing_iterations_too_low.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/realm/test_password_hashing_iterations_too_low.py
  tests/custom_types/test_keycloak_object.py
Due: ruff-check, ruff-format

Resolve ruff complaints
  tests/custom_types/test_keycloak_object.py
Due: ruff-check, ruff-format

Use return value instead of patch.object on mocks
  tests/auditors/realm/test_password_hashing_iterations_too_low.py
Due: ruff-check, ruff-format
