Repository iteratec/kcwarden: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        files: ^pyproject\.toml|poetry\.lock/
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: poetry run ruff check --fix
        language: system
        require_serial: true
        types: [ python ]
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format
        language: system
        require_serial: true
        types: [ python ]
        stages: [ pre-push ]

Extend docs regarding container usage
  docs/installation.md
  docs/usage.md
Due: none

#23: Add auditor to check whether the brute-force protection is disabled
  docs/auditors/realm.md
  kcwarden/auditors/realm/realm_brute_force_protection_disabled.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/realm/test_realm_brute_force_protection_disabled.py
Due: ruff-check, ruff-format

#23: Add auditor to check whether the brute-force protection is disabled (#92)
  docs/auditors/realm.md
  kcwarden/auditors/realm/realm_brute_force_protection_disabled.py
  kcwarden/custom_types/keycloak_object.py
  tests/auditors/realm/test_realm_brute_force_protection_disabled.py
Due: ruff-check, ruff-format

Improve robustness of the import
  kcwarden/database/importer.py
Due: ruff-check, ruff-format

Remove the assertion that checks whether the redirect URIs are empty and replace it with an auditor
  docs/auditors/clients.md
  kcwarden/auditors/client/client_has_no_redirect_uris.py
  kcwarden/auditors/client/client_must_not_use_unencrypted_nonlocal_redirect_uri.py
  kcwarden/auditors/client/client_uses_custom_redirect_uri_scheme.py
  tests/auditors/client/test_client_has_no_redirect_uris.py
  tests/conftest.py
Due: ruff-check, ruff-format

Cleanup code (like unnecessary non-static methods, mutable default arguments, etc.)
  kcwarden/auditors/client/__init__.py
  kcwarden/auditors/client/client_authentication_via_mtls_or_jwt_recommended.py
  kcwarden/auditors/client/client_has_erroneously_configured_wildcard_uri.py
  kcwarden/auditors/client/client_has_no_redirect_uris.py
  kcwarden/auditors/client/client_has_undefined_base_domain_and_schema.py
  kcwarden/auditors/client/client_must_not_use_unencrypted_nonlocal_redirect_uri.py
  kcwarden/auditors/client/client_should_disable_implicit_grant_flow.py
  kcwarden/auditors/client/client_should_not_use_wildcard_redirect_uri.py
  kcwarden/auditors/client/client_uses_custom_redirect_uri_scheme.py
  kcwarden/auditors/client/client_with_default_offline_access_scope.py
  kcwarden/auditors/client/client_with_full_scope_allowed.py
  kcwarden/auditors/client/client_with_optional_offline_access_scope.py
  kcwarden/auditors/client/client_with_service_account_and_other_flow_enabled.py
  kcwarden/auditors/client/confidential_client_should_disable_direct_access_grants.py
  kcwarden/auditors/client/confidential_client_should_enforce_pkce.py
  kcwarden/auditors/client/public_client_should_disable_direct_access_grants.py
  kcwarden/auditors/client/public_clients_must_enforce_pkce.py
  kcwarden/auditors/client/using_nondefault_user_attributes_in_clients_without_user_profiles_feature_is_dangerous.py
  kcwarden/auditors/idp/identity_provider_with_mappers_without_force_sync_mode.py
  kcwarden/auditors/idp/identity_provider_with_one_time_sync.py
  kcwarden/auditors/idp/identity_provider_with_signature_verification_disabled.py
  kcwarden/auditors/idp/oidc_identity_provider_without_pkce.py
  kcwarden/auditors/scope/using_nondefault_user_attributes_in_scopes_without_user_profiles_feature_is_dangerous.py
  kcwarden/custom_types/keycloak_object.py
  kcwarden/custom_types/result.py
  kcwarden/monitors/client/client_with_sensitive_role.py
  kcwarden/monitors/protocol_mapper/protocol_mapper_with_config.py
  kcwarden/subcommands/download.py
  kcwarden/subcommands/review.py
  tests/auditors/client/test_client_has_erroneously_configured_wildcard_uri.py
  tests/auditors/client/test_client_has_undefined_base_domain_and_schema.py
  tests/auditors/client/test_client_must_not_use_unencrypted_nonlocal_redirect_uri.py
  tests/auditors/client/test_client_should_not_use_wildcard_redirect_uri.py
  tests/conftest.py
  tests/database/test_helper.py
  tests/monitors/client/test_client_with_sensitive_role.py
Due: ruff-check, ruff-format

Extract a common abstract ClientAuditor class used by auditors checking clients to reduce code duplications
  kcwarden/api/auditor.py
  kcwarden/auditors/client/client_authentication_via_mtls_or_jwt_recommended.py
  kcwarden/auditors/client/client_has_erroneously_configured_wildcard_uri.py
  kcwarden/auditors/client/client_has_no_redirect_uris.py
  kcwarden/auditors/client/client_has_undefined_base_domain_and_schema.py
  kcwarden/auditors/client/client_must_not_use_unencrypted_nonlocal_redirect_uri.py
  kcwarden/auditors/client/client_should_disable_implicit_grant_flow.py
  kcwarden/auditors/client/client_should_not_use_wildcard_redirect_uri.py
  kcwarden/auditors/client/client_uses_custom_redirect_uri_scheme.py
  kcwarden/auditors/client/client_with_default_offline_access_scope.py
  kcwarden/auditors/client/client_with_full_scope_allowed.py
  kcwarden/auditors/client/client_with_optional_offline_access_scope.py
  kcwarden/auditors/client/client_with_service_account_and_other_flow_enabled.py
  kcwarden/auditors/client/confidential_client_should_disable_direct_access_grants.py
  kcwarden/auditors/client/confidential_client_should_enforce_pkce.py
  kcwarden/auditors/client/public_client_should_disable_direct_access_grants.py
  kcwarden/auditors/client/public_clients_must_enforce_pkce.py
  kcwarden/auditors/client/using_nondefault_user_attributes_in_clients_without_user_profiles_feature_is_dangerous.py
Due: ruff-check, ruff-format

Update transitive dependencies
  poetry.lock
Due: none

Permit unencrypted connections to local redirect URIs with a port and to the IPv6 representation of localhost
  kcwarden/auditors/client/client_must_not_use_unencrypted_nonlocal_redirect_uri.py
  tests/auditors/client/test_client_must_not_use_unencrypted_nonlocal_redirect_uri.py
Due: ruff-check, ruff-format

Permit unencrypted connections to local redirect URIs with a port and to the IPv6 representation of localhost (#100)
  kcwarden/auditors/client/client_must_not_use_unencrypted_nonlocal_redirect_uri.py
  tests/auditors/client/test_client_must_not_use_unencrypted_nonlocal_redirect_uri.py
Due: ruff-check, ruff-format

First version of password hashing check auditor
  docs/auditors/realm.md
  kcwarden/auditors/realm/password_hashing_iterations_too_low.py
  tests/auditors/realm/test_password_hashing_iterations_too_low.py
Due: ruff-check, ruff-format

Improve code style
  kcwarden/auditors/realm/password_hashing_iterations_too_low.py
Due: ruff-check, ruff-format

New Auditor: Small hashing iterations (#102)
  docs/auditors/realm.md
  kcwarden/auditors/realm/password_hashing_iterations_too_low.py
  tests/auditors/realm/test_password_hashing_iterations_too_low.py
Due: ruff-check, ruff-format

use links to official rfc9700 instead of draft version, as it is rfc-version since 2025-01
  docs/auditors/index.md
  kcwarden/auditors/client/client_authentication_via_mtls_or_jwt_recommended.py
  kcwarden/auditors/client/client_has_undefined_base_domain_and_schema.py
  kcwarden/auditors/client/client_must_not_use_unencrypted_nonlocal_redirect_uri.py
  kcwarden/auditors/client/client_should_disable_implicit_grant_flow.py
  kcwarden/auditors/client/confidential_client_should_disable_direct_access_grants.py
  kcwarden/auditors/client/confidential_client_should_enforce_pkce.py
  kcwarden/auditors/client/public_client_should_disable_direct_access_grants.py
  kcwarden/auditors/client/public_clients_must_enforce_pkce.py
  kcwarden/auditors/idp/oidc_identity_provider_without_pkce.py
  kcwarden/auditors/realm/refresh_token_reuse_count_should_be_zero.py
  kcwarden/auditors/realm/refresh_tokens_should_be_revoked_after_use.py
Due: ruff-check, ruff-format

Update transitive dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

Tint the iteratec logo based on the color scheme to support the browser's dark mode
  docs/assets/iteratec.svg
Due: none

Add a background color to the iteratec logo to prevent that it is invisible on dark backgrounds
  docs/assets/iteratec.svg
Due: none

Allow local import
  tests/utils/test_auditor_importing.py
Due: ruff-check, ruff-format

Fix the position of the ruff formatting directive since it was not compatible with ruff 0.12
  tests/monitors/client/test_client_with_sensitive_role.py
Due: ruff-check, ruff-format

Display rich table for better readability
  kcwarden/subcommands/audit.py
  poetry.lock
  pyproject.toml
Due: poetry-check, ruff-check, ruff-format

Add properties for all result attributes
  kcwarden/custom_types/result.py
  tests/auditors/realm/test_password_hashing_iterations_too_low.py
  tests/monitors/client/test_client_with_sensitive_role.py
Due: ruff-check, ruff-format

Display a dedicated message if no issues have been found
  kcwarden/subcommands/audit.py
Due: ruff-check, ruff-format
